@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sora:wght@100..800&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-hero: 'Press Start 2P', var(--font-sans);
	--font-sans:
		'Sora', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--background-color: #22211f;
	--background-color-secondary: #2e2a2770;
	--background-color-tertiary: #342f2cad;
	--background-color-quarternary: #94857d;
	--font-color: #f3dcc6;

	--color-primary-100: #f3dcc6;
}

@layer base {
	body {
		background-color: var(--background-color);
		color: var(--font-color);
		/* background-image:  linear-gradient(var(--background-color-secondary) 2px, transparent 2px), linear-gradient(90deg, var(--background-color-secondary) 2px, transparent 2px), linear-gradient(var(--background-color-secondary) 1px, transparent 1px), linear-gradient(90deg, var(--background-color-secondary) 1px, var(--background-color) 1px);
        background-size: 50px 50px, 50px 50px, 5px 5px, 5px 5px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
		background:
			linear-gradient(-90deg, var(--background-color-secondary) 1px, transparent 1px),
			linear-gradient(var(--background-color-secondary) 1px, transparent 1px),
			linear-gradient(-90deg, var(--background-color-tertiary) 1px, transparent 1px),
			linear-gradient(var(--background-color-tertiary) 1px, transparent 1px),
			linear-gradient(
				transparent 3px,
				var(--background-color) 3px,
				var(--background-color) 78px,
				transparent 78px
			),
			linear-gradient(-90deg, var(--background-color-quarternary) 1px, transparent 1px),
			linear-gradient(
				-90deg,
				transparent 3px,
				var(--background-color) 3px,
				var(--background-color) 78px,
				transparent 78px
			),
			linear-gradient(var(--background-color-quarternary) 1px, transparent 1px),
			var(--background-color);
		background-size:
			4px 4px,
			4px 4px,
			80px 80px,
			80px 80px,
			80px 80px,
			80px 80px,
			80px 80px,
			80px 80px;
		background-attachment: fixed;
	}
}

@layer components {
	.button {
		@apply flex cursor-pointer flex-row justify-center transition-colors;

		&.sm {
			@apply gap-1 p-2 text-sm hover:outline-2 focus:outline-2 rounded-sm;

			& .lucide-icon {
				@apply size-[20px];
			}
		}

		&.xs {
			@apply gap-1 p-1.5 text-xs hover:outline-2 focus:outline-2 rounded-sm;

			& .lucide-icon {
				@apply size-[16px];
			}
		}

		&.md {
			@apply gap-1 p-2 hover:outline-3 focus:outline-3 rounded-lg;
		}

		&.disabled {
			@apply cursor-not-allowed opacity-80 hover:outline-0;
		}

		&.red {
			@apply bg-red-800 outline-red-50 hover:bg-red-700;
		}

		&.orange {
			@apply bg-orange-800 outline-orange-50 hover:bg-orange-700;
		}

		&.amber {
			@apply bg-amber-800 outline-amber-50 hover:bg-amber-700;
		}

		&.dark-red {
			@apply bg-red-900 outline-red-50 hover:bg-red-800;
		}
	}

	.themed-input-light {
		@apply border-3 border-amber-700 bg-amber-900 fill-amber-50 p-2 text-sm ring-amber-900 placeholder:text-amber-700 active:ring-3;
	}
}

@layer utilities {
	.themed-box {
		@apply border-3 rounded-lg border-dashed border-amber-900 bg-amber-950;
	}
}
